<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Cadastrar Tutor</title>
</head>
<body>
    <h2>Cadastro de Tutor</h2>

<form th:action="@{/Tutores/salvarTutor}" th:object="${tutor}" method="post">

    <label>Nome:</label>
    <input type="text" th:field="*{nomeTutor}" required />
    <br><br>

    <label>Telefone:</label>
    <input type="number" th:field="*{telefoneTutor}" />
    <br><br>

  

    <label>ID:</label>
    <input type="password" th:field="*{idTutor}" required />
    <br><br>

    <br><br>

    <button type="submit">Cadastrar</button>

</form>

<br>
<a th:href="@{/Tutores/listar}">Listar Tutores</a>

</body>
</html>