<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Tutor</title>
</head>
<body>
    <h2>Cadastro de Tutor</h2>

    <form th:action="@{/tutores/salvar}" th:object="${tutor}" method="post">
        
        <label>Nome:</label>
        <input type="text" th:field="*{nomeTutor}" required />
        <br><br>

        <label>Telefone:</label>
        <input type="number" th:field="*{telefoneTutor}" required />
        <br><br>

        <label>Endereço:</label>
        <input type="text" th:field="*{enderecoTutor}" required />
        <br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a th:href="@{/tutores/listar}">Listar Tutores</a>
</body>
</html>
