<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Página Listar Tutores</title>
</head>
<body>
    <h2>Lista de Tutores</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>

        <tr th:each="tutor : ${tutores}">
            <td th:text="${tutor.idTutor}"></td>
            <td th:text="${tutor.nomeTutor}"></td>
            <td th:text="${tutor.telefoneTutor}"></td>
            <td th:text="${tutor.enderecoTutor}"></td>
            <td>
                <a th:href="@{/tutores/editar/{id}(id=${tutor.idTutor})}">Editar</a>
                <a th:href="@{/tutores/excluir/{id}(id=${tutor.idTutor})}" onclick="return confirm('Deseja realmente excluir este Tutor?')">Excluir</a>
            </td>
        </tr>
    </table>

    <br>
    <a th:href="@{/tutores/criar}">Novo Tutor</a>
    <a th:href="@{/animais/criar}">Novo Animal</a>
</body>
</html>
